<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="web.page.mapper.SearchsaveMapper">
   <insert id="searchSave" parameterType="list">
  	insert into tbl_item(pcode, pname, price, link, image) values 
  	<foreach collection="list" item="item" index="index" >
		<if test="index > 0">,</if>
		(#{item.pcode}, #{item.pname}, #{item.price}, #{item.link},#{item.image})
	</foreach>
  </insert>

	<select id="suggestion" resultType="web.page.domain.DbitemVO">
  		select * from tbl_item where pcode LIKE #{temp+"_"}
	</select>
  </mapper>